<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="foot">
    <meta charset="utf-8"/>
    <div class="menu" id="menu">
        <a href="index.html">
            <i class="icon-menu icon-menu1">
                <img src="../static/images/footer-c1.png" alt="" th:src="@{/images/footer-c1.png}"/></i>
        </a>
        <a>
            <i class="icon-menu icon-menu2">
                <img src="../static/images/footer-2.png" alt="" th:src="@{/images/footer-2.png}"/></i>
        </a>
        <a href="consignment.html">
            <i class="icon-menu icon-menu3">
                <img src="../static/images/footer-3.png" alt="" th:src="@{/images/footer-3.png}"/></i>
        </a>
        <a href="shopping.html" id="shopping">
            <i class="icon-menu icon-menu4">
                <img src="../static/images/footer-4.png" alt="" th:src="@{/images/footer-4.png}"/></i>
        </a>
        <a href="personal.html">
            <i class="icon-menu icon-menu5">
                <img src="../static/images/footer-5.png" alt="" th:src="@{/images/footer-5.png}"/></i>
        </a>
    </div>
</head>
</html>